
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
.metadata/.log
*.log
*.snap
*.snap
*.snap
*.snap
*.snap
*.log
*.index
*.xmi
*.snap
*.resources
*.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
*.log
/.metadata/
