<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head th:replace="layouts :: header('Verification Failed!', 'none')"/>
	
	<body>
		<div class = "container-fluid">
			<div th:replace="layouts :: divnavbar"/>
			
			<div>&nbsp;</div>
			
			<div class="text-center">
				<h2>Customer Verfication</h2>
				<h4>Your account was already verified or the verification code is invalid.</h4>
			</div>
			
			<div>&nbsp;</div>
			
		</div>
		
		<div th:replace="layouts :: footer"/>
	</body>
</html>