<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"/>

<head th:replace="layouts :: header(${pageTitle}, 'none')"/>
	
<body>
	<div class = "container-fluid">
		<div th:replace="layouts :: divnavbar"> </div>
		<div th:replace="layouts :: search_nav"/>
		<div>
			<h1>Products in Category</h1>
		</div>
		
		<div th:replace="breadcrumb :: content"> </div>
		
		<div class="row text-center">
			<th:block th:each="cat : ${category.children}">
				<div class="col" th:if="${cat.enabled == true}">
					<a th:href="@{'/c/' + ${cat.alias}}">
						<img th:src="@{${cat.imagePath}}" height="100" />
						<br/>
						<b> [[${cat.name}]] </b>
					</a>
				</div>
			</th:block>
		</div>
		
		<div class="row">&nbsp;</div>
		
		<div class="row">
			<th:block th:each="product : ${listProducts}">
				<div th:replace="product/product_fragment :: content"/>
			</th:block>
		</div>
		
		<div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>
		
	</div>
	
	<div th:replace="layouts :: footer"></div>
</body>
	
	
</html>