<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	
<head th:replace="layouts :: header(${pageTitle},  'none')"/>

<body>
<div class="container-fluid">
	<div>
		<form th:action="@{/orders/search_product}" method="Post" class="form-inline my-2">
			<input type="search" required class="form-control mr-sm-2" name="keyword"
				placeholder="Product Name"
				th:value="${keyword}"
				/>
			<input type="submit" class="btn btn-outline-success" value="Search"/>
		</form>
	</div>
	
	<div class="row">
		<th:block th:each="product : ${listProducts}">
		<div class="col">
			<div>
				<a href="" class="linkProduct" th:pid="${product.id}">
					<img th:src="@{${product.mainImagePath}}" height="150">
					<br/>
					<b th:id="'pname' + ${product.id}">[[${product.shortName}]]</b>
				</a>
			</div>
		</div>
		</th:block>
	</div>
	
	<div th:replace="fragments :: pagination('products')"/>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		hanldeLinkProduct();
	});
	
	function hanldeLinkProduct(){
		$(".linkProduct").on("click", function(e){
			e.preventDefault();
			productId = $(this).attr("pid");
			productName = $("#pname" + productId).text();
			
			alert("Selected product " + productId + "  ___ " + productName);
		});
	}
	
</script>
</body>
</html>